@import url(reset.css);
@import url(colors.css);
@import url(grid.css);
@import url(nav.css);
@import url(form.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


nav{
    background-color: rgb(184, 212, 212);
}

body{
    background-color: rgb(142, 172, 162);
}

article{
    min-height:200px;
    margin-bottom:20px;
}

.jumbotron{
    background-image: url(images/home.png);
    background-size:cover;
    background-position: center ;
    min-height:300px;
}

.about{
    background-color: rgb(107, 172, 166);
    padding-top: 15px;
}

.smoothie{
    background-color:  rgb(184, 212, 212);
    margin-bottom: 20px;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 10px;
    color:rgb(56, 56, 56);
}

.menu{
    margin-top:20px;
}

/* smoothie */
h1{
    text-align: center;
    padding: 80px 0;
    font-size:20px;
    text-transform: uppercase;
    color:rgb(39, 56, 56);
}

h2{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    margin:50px;
    font-size: 14px;
    color:rgb(39, 56, 56);
}

/* food & drink names + "About" */
h3{
    text-align: left;
    margin: 8px;
    font-family: 'Rubik', sans-serif;
    color:rgb(56, 56, 56);
    font-size: 17px;
}


.drinks{
    border: 1px solid rgb(39, 56, 56);
    margin: 0px 50px;
    padding: 20px;
}

/* drink prices */
h4{
    text-align: right;
    color: rgb(39, 56, 56);
}



@media (min-width:768px){
  
    .about{
        padding-top: 33px;
    }

    h1{
        font-size:30px;
        padding: 90px 10px;
    }

    h2{
        font-size:20px;
    }

}







@media (min-width:1024px){

    .smoothie{
        margin-bottom: 25px;
    }

    h1{
        font-size:40px;
    }

    


}