@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@300;400&display=swap');

body{
    margin:0;
}

#wrapper{
    max-width:1500px;
    margin-right:auto;
    margin-left:auto;
}

#homepage{
    max-width:1500px;
    margin-right:auto;
    margin-left:auto;
}

#sm{
    max-width:1500px;
    margin-right:auto;
    margin-left:auto;
}

#pv{
    max-width:1500px;
    margin-right:auto;
    margin-left:auto;
}

#lax{
    max-width:1500px;
    margin-right:auto;
    margin-left:auto;
}


img{
    max-width:100%;
}

#logo{
    height:40px;
    margin:10px;
}

#togglebutton{
    height:30px;
    float:right;
    margin:15px;
}

#menutoggle{
    display:none;
}

#menutoggle:checked +ul{
    display:block;
}

header nav ul{
    display:none;
    text-align:center;
    list-style:none;
    padding-left:0px;
}

header nav li a {
    text-decoration: none;
    text-transform:uppercase;
    color:black;
    font-family: 'Roboto Mono', monospace;
}

header nav li{
    padding:20px;
    border-bottom:2px solid;
}

header nav li:last-child{
    border-bottom:none;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    max-width:400px;
    padding:10px 40px;
    margin-bottom:50px;
}

h1{
    font-family: 'Roboto Mono', monospace;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    margin-bottom:0px;
}

h1:first-child{
    margin-top:30px;
}

.text{
    font-size:16px;
    margin-top:0px;
    margin-bottom:40px;
}




@media(min-width:768px){

    #logo{
        height:40px;
        margin:15px;
        display:block;
        margin-left: auto;
        margin-right:auto;
        margin-top:25px;
    }

    label[for=menutoggle]{
        display:none;
    }

    header nav ul{
        display:block;
        margin: 0 auto;
    }

    header nav li{
        display:inline-block;
        border-bottom:none;
        padding:30px 80px;
    }

    p{
        font-size:14px;
        margin-right:auto;
        margin-left:auto;
        text-align:center;
        max-width: 600px;
        padding: 15px 0px;
    }


    h1{
        margin-bottom:15px;
        font-size:30px;
    }
    
    h1:first-child{
        margin-top:20px;
    }
    
   

}/*end of 768px media query*/









@media(min-width:1200px){
    #logo{
        height:60px;
        margin:25px;
        display:inline-block;
    }


    header nav ul{
        float:right;

    }

    header nav li{
        display:inline-block;
        border-bottom:none;
        padding:50px 80px;
    }

    p{
        font-size:18px;
        margin-right:auto;
        margin-left:auto;
        text-align:center;
        max-width: 700px;
       padding: 20px 0px;
    }

    h1{
        margin-bottom:15px;
        font-size:30px;
    }
    
    h1:first-child{
        margin-top:20px;
    }

    .text{
        font-size:18px;
        margin-top:0px;
        margin-bottom:40px;
    }
    

}/*end of 1200px media query*/