footer{
    margin:100px;
    text-align: center;
}

.footer{
    background-color: #00703c;
}

footer img{
    height: 30px;
}

.socials{
text-align: center;}

@media(min-width:768px){

}

@media(min-width:1024px){
    
}