/* COLORS */
.bg-blue{
    background-color:rgb(138, 161, 204);
}

.bg-purple{
    background-color:rgb(130, 99, 145);
}

.bg-green{
    background-color:rgb(156, 190, 156);
}

.bg-pink{
    background-color:rgb(252, 178, 215);
}

.bg-yellow{
    background-color:rgb(238, 238, 151);
}