@charset "UTF-8";

nav ul{
    list-style:none;
    padding-left:0px;
}

nav ul a{
    color: rgb(210, 250, 250);
    text-decoration:none;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

.flex{
	display:flex;
	flex-direction:column;
}

#logo {
	height: 35px;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px;
}

nav ul{
	margin:10px;
    text-align:center;
}

nav ul li{
    padding:15px;
    border-bottom: 1px solid rgb(210, 250, 250);

}

nav ul li:last-child{
    border-bottom:none;
}


#togglebutton{
    height:30px;
    float:right;
    margin:15px;
}

#menutoggle{
    display:none;
}

#menutoggle:checked +ul{
    display:block;
}



@media (min-width:768px){
	#logo {
		margin: 20px;
		height:40px;
	}

	nav ul.flex{
		flex-direction:row;
        justify-content: space-around;
	}
	
	nav ul li{
		border-bottom: none;
        padding-top: 30px;
	}

	.order-3{
		order:3;
	}

	.order-m2{
		order:-2;
	}

	label[for=menutoggle]{
        display:none;
    }


}

@media (min-width:1024px){
	nav ul li{
        padding-top: 40px;
	}


	#logo{
		height:50px;
	}
	
	

}
